<!--globalstyles-->

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1{
  padding: 60px;
  font: 80px "forma-djr-banner", sans-serif;
  color: #ee3a1e;
}


<!-- Homepage -->
.container1{
  background-color: #fff7e9;
  height: 1080px;
  width: 1920px;
}
.btn{
  font: 20px "gal-gothic-variable", sans-serif;
  font-variation-settings: "wght" 300;
  color: #000000;
  background: #ee3a1e;
  text-decoration: none;
  padding: 8px;
  margin: 5px;
  border-radius: 7px;
  display: inline-block;
}
.btn:hover{
  box-shadow: 7px 7px 0px 0px #c43823;
}
