html, body {
  position: relative;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d2d09;
}

/*  */

/* card flip/ slide css */
.swiper {
  width: 340px;
  height: 560px;
  z-index: 1;
}
.swiper-slide, .front, .back { /* individual cards */
  border-radius: 10px;
  position: relative;
  transition: transform 3000ms; /* // */
  transform-style: preserve-3d;
}
.swiper-slide:hover .back { /* applying to .front when on hover */
  cursor: pointer;
  transform: rotateY(180deg);
  transition: transform 3000ms; /* // */
  transform-style: preserve-3d;
}
.swiper-slide:hover .front { /* applying to .back when on hover */
  transform: rotateY(0deg); /* initial position: flipped 180, to show backside reverse flipped position */
  transition: transform 3000ms; /* // */
  transform-style: preserve-3d;
}
.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* hiding backside of card */
}
.back {
  background-image: url("https://source.unsplash.com/random/360x580");
}
.front {
  transform: rotateY(180deg); /* initial position - starts flipped: hides backside view */
}
.bg1, .bg2, .bg3, .bg4 {
  height: 100%; /* fitting image to its container div */
  width: 100%;
  border-radius: 10px;
}

/*  */
.button_container {
  position: absolute;
  top: 30px;
  left: 35px;
  display: flex; /* appear side by side */
}
.butt_sec { /* individual div elements */
  position: relative;
  background-color: #eec0bd;
  border: 2px solid #eec0bd;
  border-radius: 13px;
  height: 45px;
  width: 25px;
  margin-right: -4px; /* creating overlap */
  box-shadow:
    0.9px 1px 0 0 #bd8e8c,
    1.5px 2px 0 0 #bd8e8c,
    2.5px 3px 0 0 #bd8e8c,
    3.5px 4px 0 0 #bd8e8c,
    4.5px 5px 0 0 #bd8e8c,
    5.5px 6px 0 0 #bd8e8c,
    6.5px 7px 0 0 #bd8e8c,
    7.5px 8px 0 0 #bd8e8c,
    8.5px 9px 0 0 #bd8e8c,
    9.5px 10px 0 0 #bd8e8c;
  cursor: pointer;
  transition: all 600ms ease;
}

.button_container .button_text {
  font-family: "kopius", serif;
  font-weight: 700;
  font-style: normal;
  color: #6d2d09;
  position: absolute;
  transform: translate(53px, 22px) translate(-50%, -50%); /* button text positioning */
  transition: transform 600ms ease;
}
.button_container:hover .butt_sec { /* targeting button divs (hover) */
  transform: translate(6px, 10px);
  box-shadow: none;
}
.button_container:hover .button_text { /* targeting button text (hover) */
  transform: translate(16px, 23px);
}
































/*  */
