html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2f4d37;
  background-image: url(images/bg.png);
  background-size: cover;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/*  */ /* (hey it's me jiho) css */
.container { /* pink bg div */
  height: 520px;
  width: 1200px;
  border-radius: 27px;
  background-color: #eec0bd;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
h1 {
  font-family: "kopius", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 100px;
  color: #322746;
}
span {
  letter-spacing: -27px;
}
.space { /* letter space */
  margin-right: 23px;
}
.big { /* (hey it's me jiho) positioning */
  position: relative;
  margin-left: 310px;
  margin-top: 97px;
}
/*  */
.me { /* about me information */
  width: 770px;
  z-index: 9999;
  position: relative;
  margin-top: 210px;
  margin-left: 205px;
}
p {
  font-family: "kopius", serif;
  font-weight: 400;
  font-style: normal;
  color: #322746;
  line-height: 1.4;
}

/*  */
img { /* image positioning */
  width: 245px;
  z-index: 999;
  position: absolute;
  top: 160px;
  left: 19%;
  transform: translateX(-50%);
}
/*  */
.button_container { /* button css */
  position: absolute;
  top: 35px;
  left: 40px;
  display: flex; /* appear side by side */
}
.butt_sec { /* individual div elements */
  position: relative;
  background-color: #eec0bd;
  border: 2px solid #eec0bd;
  border-radius: 17px;
  height: 48px;
  width: 28px;
  margin-right: -5px; /* creating overlap */
  box-shadow:
    0.9px 1px 0 0 #322746,
    1.5px 2px 0 0 #322746,
    2.5px 3px 0 0 #322746,
    3.5px 4px 0 0 #322746,
    4.5px 5px 0 0 #322746,
    5.5px 6px 0 0 #322746,
    6.5px 7px 0 0 #322746,
    7.5px 8px 0 0 #322746,
    8.5px 9px 0 0 #322746,
    9.5px 10px 0 0 #322746;
  cursor: pointer;
  transition: all 600ms ease;
}
.button_container .button_text { /* button text css */
  font-family: "kopius", serif;
  font-weight: 700;
  font-style: normal;
  color: #322746;
  position: absolute;
  transform: translate(57px, 23px) translate(-50%, -50%); /* button text positioning */
  transition: transform 600ms ease;
}
.button_container:hover .butt_sec { /* targeting button divs (hover) */
  transform: translate(6px, 10px);
  box-shadow: none;
}
.button_container:hover .button_text { /* targeting button text (hover) */
  transform: translate(21px, 24px);
}
